// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
  font-family: "CenturyGothic";
  src:
    url("../fonts/CenturyGothic.ttf") format("truetype"),
    url("../fonts/CenturyGothic.ttf") format("woff"),
    url("../fonts/CenturyGothic.ttf") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "CenturyGothic";
  src:
    url("../fonts/CenturyGothic-Bold.ttf") format("truetype"),
    url("../fonts/CenturyGothic-Bold.woff") format("woff"),
    url("../fonts/CenturyGothic-Bold.woff2") format("woff2");
  font-weight: 600;
}
