$yellow: #ffe366;
$white: #fff;
$black: #000;

$grey: #626262;
$dark_grey: #767676;

$primaryFont: "CenturyGothic", sans-serif;
$secondaryFont: "Crimson Pro", sans-serif;
$primaryColor: #003360;
$secondaryColor: #3975aa;
$blue: #0c6fbb;

$spacer-xl: 112px;
$spacer-sm: 40px;
